* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
}

.main {
    color: white;
}
.text {
    color: lawngreen;
}
.main2  {
    color: red;
}
.text2 {
    color: orange;
}